/*---------- VARIABLES ----------*/
:root {
  /* Colors */
  --main-color: #0f172a;
  --second-color: #0ea5e9;

  /* Font Weight */
  --normal-weight: 400;
  --medium-weight: 500;
  --high-weight: 600;
  --very-high-weight: 700;
}

/*---------- VARIABLES ----------*/

/*---------- GLOBAL RESET ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

/*---------- GLOBAL RESET ----------*/

/*---------- GENERAL ----------*/

body {
  line-height: 1;
  font-weight: var(--normal-weight);
  color: var(--main-color);
  min-height: 100vh;
}

.section-padding {
  padding: 9.6rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary {
  font-size: 7rem;
}

.btn {
  border: none;
  background-color: none;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}

.btn i {
  margin-left: 8px;
  transition: 200ms all ease-in-out;
}

.btn-primary {
  font-size: 1.8rem;
  background-color: var(--second-color);
  color: #fff;
}

.hidden {
  display: none;
}

/*---------- GENERAL ----------*/

/*---------- HERO SECTION ----------*/

.section-hero {
  padding-top: 4.5rem;
}

.hero-container {
  display: flex;
  gap: 5rem;
  background-color: var(--main-color);
  border-radius: 3rem;
  padding: 8rem 8rem 0;
}

.hero-left {
  margin-top: 8rem;
  padding-bottom: 10px;
  animation: fadeAnimation 600ms ease-in-out 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero-heading {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.hero-text,
.hero-text-second {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.hero-text-second {
  display: none;
}

.hero-btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

.hero-btn:hover i {
  transform: translateX(5px);
}

.hero-img {
  height: 613px;
  animation: fadeAnimation 600ms ease-in-out 600ms 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*---------- HERO SECTION ----------*/

/*---------- CARDS SECTION ----------*/

.section-cards {
  padding: 4.5rem 0;
}

.cards-container {
  display: grid;
  align-items: start;
  grid-template-columns: 336px 1fr;
}

.aside {
  width: 312px;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 2rem;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link:link,
.link:visited {
  display: block;
  background-color: #fff;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 10px;
  transition: 100ms all ease-in-out;
}

.link:hover,
.link:active {
  background-color: var(--second-color);
  color: #fff;
}

.aside-nav .active {
  background-color: var(--second-color);
  color: #fff;
}
/*---------- CARDS SECTION ----------*/

/*---------- BLOGS SECTION ----------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.blog {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  overflow: hidden;
}

.blog .thumbnail img {
  width: 100%;
}

.blog-text-box {
  padding: 1rem 2rem;
}

.tag {
  width: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 6px 0;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin: 15px 0;
}

.blog-title {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog-bottom {
  display: flex;
  gap: 2rem;
}

.info {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
  color: var(--main-color);
}

.info img {
  width: 24px;
  height: 24px;
}
/*---------- BLOGS SECTION ----------*/

/*---------- MATCHES SECTION ----------*/
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.match {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  overflow: hidden;
  padding: 5.3rem 3rem;
  text-align: center;
}

.match-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.versus {
  font-size: 1.6rem;
  font-weight: 700;
}

.match-teams {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.match-time {
  font-size: 1.6rem;
  color: #4d4d4d;
}
/*---------- MATCHES SECTION ----------*/

/*---------- VIEW ALL BTN SECTION ----------*/
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
/*---------- VIEW ALL BTN SECTION ----------*/

/*---------- FOOTER ----------*/
.footer {
  padding: 12rem 0;
  background-color: var(--main-color);
  text-align: center;
}

.footer-heading {
  font-size: 4rem;
  color: #fff;
}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5rem 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  max-width: 100rem;
  margin: 0 auto;
}

.footer-link {
  white-space: nowrap;
  font-size: 1.6rem;
  color: #b9b9b9;
  text-decoration: none;
}

.footer-social-link {
  font-size: 1.8rem;
  color: #b9b9b9;
  transition: 300ms all ease-in-out;
}

.footer-social-link:hover {
  color: var(--second-color);
}
/*---------- FOOTER ----------*/

/*---------- MEDIA QUERIES ----------*/

/* Others */
@media only screen and (max-width: 1400px) {
  .heading-primary {
    font-size: 4rem;
  }

  .hero-text {
    font-size: 1.4rem;
  }

  .hero-img {
    height: 500px;
  }

  .match-top {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1150px) {
  .hero-left {
    margin-top: 3rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .hero-text {
    margin-bottom: 2.2rem;
  }

  .hero-img {
    height: 400px;
  }
}
/* Others */

/* Tablet */
@media only screen and (max-width: 992px) {
  .section-hero {
    padding-bottom: 0;
  }

  .hero-container {
    padding-top: 5rem;
  }

  .hero-left {
    margin-top: 1rem;
  }

  .hero-text {
    display: none;
  }

  .hero-text-second {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2.2rem;
  }

  .hero-img {
    width: 323px;
    height: 340px;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .aside {
    width: 100%;
    background-color: transparent;
  }

  .aside-nav {
    flex-direction: row;
    justify-content: center;
  }

  .link:link,
  .link:visited {
    flex: 1;
    font-size: 1.4rem;
    border: 1px solid #e8e8e8;
  }

  .blogs,
  .matches {
    grid-template-columns: repeat(2, 1fr);
  }

  .match-top {
    flex-direction: row;
  }
}

@media only screen and (min-width: 752px) and (max-width: 992px) {
  .hidden {
    display: inherit;
  }
}
/* Tablet */

/* Mobile */
@media only screen and (max-width: 752px) {
  .container {
    padding: 0 1rem;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 4rem 0;
    gap: 1rem;
  }

  .aside-nav {
    flex-direction: column;
  }

  .blogs,
  .matches {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-links {
    flex-direction: column;
    gap: 5rem;
  }
}
/* Mobile */

/*---------- MEDIA QUERIES ----------*/
